/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  color: $color-text-lighter;
  font-size: rem(18);
  margin-top: 2em;
  padding-top: 1em;
  text-align: center;
}

.c-footer__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}
