/* ==========================================================================
   #POST
   ========================================================================== */

.c-post {
  display: flex;
  flex-direction: column-reverse;

  @include bp('large') {
    flex-direction: row;
  }
}

.c-post__article {
  display: flex;
  flex-direction: column;
}

.c-intro {
  font-weight: 600;
}
