<div class="c-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
  <h4 class="c-comment__author">{{comment.author.name}} says</h4>
  <div class="c-comment__content">{{comment.comment_content|wpautop}}</div>
</div>
