/* ==========================================================================
   #CONTENT
   ========================================================================== */

.o-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  ul {
    margin: 0;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h1 {
    font-size: 2.4rem;

    @include bp('large') {
      font-size: 3.2rem;
    }
  }

  h2,
  h3 {
    font-size: 2.2rem;
    margin: 2rem 0;

    @include bp('large') {
      font-size: 2.4rem;
      margin: 2rem 0 0.4rem;
    }
  }

  h4,
  h5,
  h6 {
    font-size: 1.8rem;
    margin-bottom: 2rem;

    @include bp('large') {
      margin-bottom: 4rem;
    }
  }

  p {
    margin-bottom: 2.8rem;
  }

  code {
    font-size: inherit;
    font-weight: inherit;
    overflow-wrap: break-word;
  }

  ul {
    margin-top: 2.8rem;
    margin-left: 0;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: 2rem;

    @include bp('large') {
      margin-bottom: 2.8rem;
    }

    ul > & {
      padding-left: 3.3rem;

      &::before {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        top: 8px;
        left: 0;
        background-color: $color-secondary;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include bp('large') {
        margin-bottom: 2.6rem;
      }
    }
  }

  a {
    font-weight: 500;
    overflow-wrap: break-word;
  }

  pre > code[class*='language-'] {
    overflow-wrap: break-word;
    margin-bottom: 3rem;

    @include bp('large') {
      margin-bottom: 4.8rem;
    }
  }

  .c-intro {
    font-weight: 600;
    margin: 2.4rem 0 0.8rem;
    font-size: 2rem;

    @include bp('large') {
      font-size: 2.4rem;
      margin: 3.6rem 0 1.2rem;
    }
  }

  .c-post__entry {
    > :first-child:not(p) {
      margin-top: 2rem;

      @include bp('large') {
        margin-top: 4.2rem;
      }
    }
  }

  .c-page-nav {
    margin-top: 5.8rem;
    display: flex;
    justify-content: space-between;
  }
}
