/* ==========================================================================
   #LAYOUT
   ========================================================================== */

.o-layout {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;

  @include bp-medium {
    flex-direction: row;
  }
}

.o-layout__sidebar,
.o-layout__gap {
  width: 100%;
  margin: 0 auto;

  @include bp-medium {
    width: calc((40% - 3rem) / 2);
  }
}

.o-layout__gap {
  visibility: hidden;
}

.o-layout__sidebar {
  @include bp-full {
    left: -40px;
    position: relative;
  }
}

.o-layout__content {
  width: 100%;
  margin: 0 auto;

  @include bp-medium {
    width: 60%;
  }
}
