<footer class="o-wrapper c-footer">
  <div class="c-sep c-sep--small u-sp-bottom u-sp--large"></div>
  <p>Made with Chisel. Copyright &copy; {{"now"|date('Y')}} <a href="https://www.xfive.co/" class="c-footer__link">Xfive.co Pty Ltd.</a></p>
</footer>
