<footer class="o-wrapper c-footer margin-top-2">
  <div class="o-container c-footer__container">
    <p>&copy; {{ "now"|date('Y') }} <a href="https://www.xfive.co/" class="c-footer__link">Xfive.co Pty Ltd.</a></p>
    <p>Made with <strong>Chisel</strong></p>
  </div>
</footer>
