<header class="o-wrapper c-header u-sp-top u-sp--large">
  <h1>
    <a href="/" rel="home" class="c-header__title">Chisel</a>
    <span class="c-header__description">A WordPress Development Framework</span>
  </h1>
</header>
