{% set main_nav = [
  { title: 'Home', link: '/' },
  getPosts({ id: 'docs' })[0],
  { title: 'Tutorials', link: 'https://www.getchisel.co/tutorials/' }
] %}

{% if main_nav %}
  <nav class="o-wrapper o-wrapper--small u-sp-top u-sp--large">
    <div class="c-sep u-sp-bottom u-sp--large"></div>
    <ul class="c-main-nav">
      {% for item in main_nav %}
        <li class="c-main-nav__item">
          <a href="{{ item.link }}" class="c-main-nav__link">{{ item.title }}</a>
        </li>
      {% endfor %}
        <li class="c-main-nav__item">
          <iframe src="https://ghbtns.com/github-btn.html?user=xfiveco&amp;repo=generator-chisel&amp;type=star&amp;count=true&amp;size=large" class="c-main-nav__iframe--large"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=xfiveco&amp;repo=generator-chisel&amp;type=star&amp;count=true" class="c-main-nav__iframe--normal"></iframe>
        </li>
    </ul>
    <div class="c-sep u-sp-top u-sp--large u-sp-bottom"></div>
  </nav>
{% endif %}
