{
  "extends": "chisel",
  "overrides": [
    {
      "files": [
        "gulpfile.js",
        "gulp/**/*.js",
        "webpack.chisel.config.js"
      ],
      "parserOptions": {
        "sourceType": "script"
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ],
        "no-console": "off"
      },
      "env": {
        "node": true
      }
    }
  ]
}
