language: node_js
node_js:
  - v7
  - v6
  - v4
addons:
  apt:
    packages:
      - php5-cli
      - php5-mysql
services:
  - mysql
before_install:
  - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
  - php composer-setup.php
  - php -r "unlink('composer-setup.php');"
  - mkdir /tmp/composerbin
  - mv composer.phar /tmp/composerbin/composer
  - PATH=$PATH:/tmp/composerbin
matrix:
  include:
    - node_js: v6
      env: TEST_VERSIONS=generator
    - node_js: v6
      env: TEST_VERSIONS=generated_project
  allow_failures:
    - env: TEST_VERSIONS=generator
    - env: TEST_VERSIONS=generated_project
