language: node_js
node_js:
  - "10"
  - "8"
addons:
  apt:
    packages:
      - php5-cli
      - php5-mysql
services:
  - mysql
before_install:
  - npm install -g yo
  - wget -P /tmp https://github.com/wp-premium/advanced-custom-fields-pro/archive/master.zip
  - wget -P /tmp https://github.com/wp-premium/gravityforms/archive/master.zip
  - wget -P /tmp https://github.com/wp-sync-db/wp-sync-db/archive/master.zip
  - wget -P /tmp https://github.com/wp-sync-db/wp-sync-db-media-files/archive/master.zip
matrix:
  include:
    - node_js: "8"
      env: TEST_VERSIONS=generator
    - node_js: "8"
      env: TEST_VERSIONS=generated_project
  allow_failures:
    - env: TEST_VERSIONS=generator
    - env: TEST_VERSIONS=generated_project
