{% extends "layouts/base.twig" %}

{% block content %}
  <article class="c-post u-sp-top u-sp--xlarge">
    <h1 class="c-title">404 - Page not found</h1>
    <div class="c-post__entry">
    <p>Sorry, we couldn't find what you're looking for.</p>
    </div>
  </article>
{% endblock %}
