{% extends "layouts/base.twig" %}

{% block content %}
  {% include 'components/home-hero.twig' %}
  {% include 'components/why-chisel.twig' %}
  {% include 'components/slider.twig' %}
  <div class="margin-bottom-6 margin-bottom-large-8"></div>
{% endblock %}
