// Colors
$color-white: #fff;
$color-black: #000;
$color-light-grey: #ccc;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-text;

// Borders
$color-border: $color-light-grey;
