/* Project index styling */
html {
  font-size: 1em;
  line-height: 1.5;
}

@media (min-width: 768px) {
  html {
    font-size: 1.25em;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1.5em;
  }
}

body {
  background: #f2e9da;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 40px, #eae3d7 40px, #eae3d7 41px),
                    repeating-linear-gradient(90deg, transparent, transparent 40px, #eae3d7 40px, #eae3d7 41px);
  color: #1b3729;
  font-family: 'Crimson Text', serif;
  padding: 1em;
}

a, a:link {
  color: #b08b31;
}

a:hover {
  color: #ecbb42;
}

p {
  margin: 0 0 1em 0;
}

/* Layouts */
.c-wrapper {
  margin: 0 auto;
  max-width: 860px;
}

.c-section {
  margin-top: 2em;
}

.c-section__note {
  margin-top: 1em;
}

/* Header */
.c-page-title {
  margin: 0;
}

.c-page-subtitle {
  border-bottom: 7px solid #1b3729;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.25em;
}

.c-intro {
  font-size: 1.25rem;
  margin: 0 1em 1em 0;
  line-height: 1.5;
  font-weight: 600;
}

/* Headings */
.c-heading {
  border-bottom: 5px solid #ecbb42;
  display: inline-block;
  font-weight: 600;
  margin: 0 0 0.5em 0;
}

/* Lists */
.c-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-list li {
  margin-bottom: 0.5em;
  padding-left: 1em;
  position: relative;
}

.c-list li:before {
  background: #ecbb42;
  content: '';
  display: block;
  height: 0.5em;
  left: 0;
  position: absolute;
  top: 0.5em;
  width: 0.5em;
}

/* Pages list */
.c-page {
  text-decoration: none;
  position: relative;
  display: block;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 0.5em;
}

.c-page__link {
  text-decoration: underline;
}

.c-page__name {
  color: #1b3729;
  margin-left: 0.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.c-page:hover .c-page__name {
  color: #999;
}
