/*
  Project: <%= name %>
  Author: <%= author %>
 */

@import 'settings/*';
@import 'tools/*';
@import 'generic/*';
@import 'elements/*';
@import 'objects/*';
@import 'components/*';
@import 'trumps/*';
