
# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]

  # Block listing authors
  RewriteCond %{QUERY_STRING} author=\d
  RewriteRule ^ /? [L,R=301]
</IfModule>

# END WordPress

<FilesMatch "wp-config.*\.php|\.htaccess|readme\.html">
  Order allow,deny
  Deny from all
</FilesMatch>
