<h1>Style guide</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, neque.</p>

<section class="c-style-guide__section">
  <h2 class="c-style-guide__title">Elements</h2>
  {% include "elements/headings.twig" %}
  {% include "elements/hr.twig" %}
</section>

<section class="c-style-guide__section">
  <h2 class="c-style-guide__title">Objects</h2>
  {% include "objects/media.twig" %}
</section>

<section class="c-style-guide__section">
  <h2 class="c-style-guide__title">Components</h2>
  {% include "components/buttons.twig" %}
</section>
