{% extends "layouts/base.twig" %}
{% set pageName = 'Style Guide' %}

{% block content %}
  <div class="c-style-guide__intro">
    <h1 class="c-style-guide__title">Style guide</h1>
    <p class="c-style-guide__desc">Project's style guide shows styling of available elements, objects and components.</p>
  </div>

  <section class="c-style-guide__section">
    <h2 class="c-style-guide__section-title">Elements</h2>
    {% include "elements/blockquote.twig" %}
    {% include "elements/headings.twig" %}
    {% include "elements/hr.twig" %}
    {% include "elements/images.twig" %}
    {% include "elements/links.twig" %}
    {% include "elements/lists.twig" %}
    {% include "elements/tables.twig" %}
  </section>

  <section class="c-style-guide__section">
    <h2 class="c-style-guide__section-title">Objects</h2>
    {% include "objects/layout.twig" %}
    {% include "objects/list-bare.twig" %}
    {% include "objects/list-inline.twig" %}
    {% include "objects/media.twig" %}
    {% include "objects/table.twig" %}
  </section>

  <section class="c-style-guide__section">
    <h2 class="c-style-guide__section-title">Components</h2>
    {% include "components/btn.twig" %}
  </section>

  <section class="c-style-guide__section">
    <h2 class="c-style-guide__section-title">Utilities</h2>
    {% include "utilities/align.twig" %}
  </section>
{% endblock %}
