<h3 class="c-style-guide__section-subtitle">Buttons</h3>
<p>
  <a href="#" class="c-btn c-btn--primary">Button</a>
</p>
<p>
  <a href="#" class="c-btn c-btn--primary c-btn--small">Button Small</a>
</p>
<p>
  <a href="#" class="c-btn c-btn--primary c-btn--large">Button Large</a>
</p>

