<h3 class="c-style-guide__section-subtitle">Lists</h3>
<ul>
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3
    <ul>
      <li>list item 4</li>
      <li>list item 5</li>
      <li>list item 6</li>
    </ul>
  </li>
</ul>

<ol>
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>

<dl>
  <dt>Definition term</dt>
  <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</dd>
  <dt>Definition term</dt>
  <dd>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</dd>
  <dt>Definition term</dt>
  <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</dd>
</dl>
