<h3 class="c-style-guide__section-subtitle">Tables</h3>
<table>
  <tr>
    <th>Lorem ipsum</th>
    <th>Lorem ipsum</th>
  </tr>
  <tr>
    <td>Ut wisi enim</td>
    <td>Ut wisi enim ad minim veniam</td>
  </tr>
  <tr>
    <td>Duis autem</td>
    <td>Duis autem vel eum</td>
  </tr>
</table>


