/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  background: $color-bg;
  color: $color-text;
  font-family: $font-sans-serif;
  font-size: 0.625rem;
  line-height: 1.5; /* [1] */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
