<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>{{ pageName }} - <%= name %></title>
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('main.css') }}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
  {% block head %}
  {% endblock %}
</head>

<body class="{{body_class}}">
  <header class="o-wrapper">
    {% block header %}
      <a href="" rel="home"><%= name %></a>
    {% endblock %}
  </header>

  <main class="o-wrapper">
    {% block content %}
      Sorry, no content
    {% endblock %}
  </main>

  {% block footer %}
    {% include 'components/footer.twig' %}
  {% endblock %}
  <script src="scripts/{{ assetPath('bundle.js') }}" async></script>
</body>
</html>
