{% block html_head_container %}

  {% include 'partials/html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  <header>
    {% block header %}
      <a href="{{site.url}}" rel="home">{{site.name}}</a>
    {% endblock %}
  </header>

  <main>
    {% block content %}
      Sorry, no content
    {% endblock %}
  </main>

  {% block sidebar %}
    <aside>
      {% include 'partials/sidebar.twig' %}
    </aside>
  {% endblock %}

  {% block footer %}
    <footer>
      {% include 'partials/footer.twig' %}
    </footer>
    <script src="scripts/{{ assetPath('bundle.js') }}" async></script>
  {% endblock %}
</body>
</html>
