<h3 class="c-style-guide__section-subtitle">Layout</h3>

<div class="o-layout u-margin-bottom">
  <div class="o-layout__item u-fill">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, dolores.
  </div>
  <div class="o-layout__item u-fill">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ad voluptatum odit ut explicabo a!
  </div>
</div>

<div class="o-layout o-layout--guttered o-layout--3 u-margin-bottom">
  <div class="o-layout__item u-fill u-padding">
    Column 1
  </div>
  <div class="o-layout__item u-fill u-padding">
    Column 2
  </div>
  <div class="o-layout__item u-fill u-padding">
    Column 3
  </div>
</div>

<div class="o-layout o-layout--guttered o-layout--4 u-margin-bottom">
  <div class="o-layout__item u-fill u-padding">
    Column 1
  </div>
  <div class="o-layout__item u-fill u-padding">
    Column 2
  </div>
  <div class="o-layout__item u-fill u-padding">
    Column 3
  </div>
  <div class="o-layout__item u-fill u-padding">
    Column 4
  </div>
</div>
