<!-- Sample media object -->
<h3 class="c-style-guide__section-subtitle">Media object</h3>
<div class="o-media">
  <div class="o-media__img">
    <img src="http://placehold.it/350x150" alt="Sample image">
  </div>
  <div class="o-media__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, eligendi!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam debitis libero voluptas beatae accusantium in dolores alias, architecto laudantium, voluptate!</p>
  </div>
</div>
